.info__gallery {
  flex-wrap: wrap;
  width: 100%;
  
  .info__gallery-card {
    width: 50%;
    height: 600px;

    .info__gallery-title {
      font-size: 4rem;
      width: 60%;
      margin: 0;
    }
    
    .info__gallery-text {
      width: 62%;
      line-height: 3rem;
      margin: 50px 0px;
    }

    .btn {
      text-transform: uppercase;
      text-decoration: none;
      color: $veryDarkDesaturatedBlue;
      position: relative;
      left: -20%;

      &::before {
        content: '';
        height: 10px;
        width: 120%;
        left: -10%;
        bottom: -4px;
        position: absolute;
        border-radius: 15px;
        opacity: 0.3;
      }

      &:hover.btn::before {
        opacity: 1;
        z-index: -1;
      }
    }

    .btn1::before {
      background: $yellow;
    }
    .btn2::before {
      background: $softRed;
    }
  }

  .info__gallery-img {
    width: 50%;

    img {
      display: block;
    }
  }

  .card--bg1 {
    background: url(../../../images/desktop/image-graphic-design.jpg);
    color: $darkDesaturatedCyan;
  }
  
  .card--bg2 {
    background: url(../../../images/desktop/image-photography.jpg);
    color: $darkBlue;
  }

  .card--text {
    text-align: center;
    padding-top: 370px;

    .info__gallery-title {
      font-size: 3rem;
    }

    .info__gallery-text {
      width: 55%;
    }
  }
}
