footer {
  background-color: #8AD2C4;
  color: $darkModerateCyan;

  p {
    margin: 0;
    padding: 10px;
    font-size: 1.4rem;
    
  }

}

.attribution {
  font-size: 1.2rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}